body {
    background-color: #333;
}

/* Die Leiste oben */
.header_line {
    background-color: white;
    justify-content: space-evenly;
    overflow: hidden;
    border-radius: 10px;

    max-width: 1000px;
    width: 100%;

    margin: 0 auto;
    display: flex;
}

/* Ein Knopf oben in der Leiste */
.header_line a {
    font-family: "Fira Code", monospace;
    font-weight: bolder;
    font-size: 20px;
    background-color: transparent;
    color: black;
    padding-block: 10px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

/* Button Hover Animation (Hintergrund wird dunkler) */
.header_line a:hover {
    background-color: #DDDDDD;
}

.text_section {
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px 25px;

    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.15);

    max-width: 900px;
    width: 70%;
}

/* eine Überschrift innerhalb eines Textbereichs */
.text_section h1 {
    font-family:"Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.text_section h2 {
    font-family:"Segoe UI", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    text-align: center;
}

/* ein Bild innerhalb eines Textbereichs */
.text_section img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Text innerhalb eines Textbereichs */
.text_section p {
    font-family:"Segoe UI", sans-serif;
    font-size: 1rem;
    color: #111111;
    text-align: justify;
    margin-block: 0px;
}
