body {
    background-color: #333;
}

.header_line {
    background-color: white;
    border-radius: 10px;
    display: flex;
}

.header_button {
    font-family: "Fira Code", monospace;
    font-weight: bolder;
    background-color: transparent;
    color: black;
    padding-block: 1%;
    padding-inline: 1%;
    text-decoration: none;
    font-size: 20px;
}

h1 {
    color: white;
    background-color: black;
}